.transaction-form {
    margin-bottom: 10px;
    padding-left: 5px;
}

.transaction-form-title > h2 {
    margin-bottom: 20px;
}

.transaction-form > label > input, .transaction-form > label > select {
    padding: 10px;
    box-shadow: 0 0 2px 1px;
    border-radius: 6px;
    margin: 5px 0px 10px 0px;
    border: 2px solid #ff9000;
    width: 100%;
}

.transaction-form > label {
    font-size: 20px;
}

.transaction-form > button {
    margin: 10px 10px 10px 0;
    font-size: 20px;
    background-color: rgb(47, 48, 51, 1);
    color: #fff;
    border-radius: 6px;
    padding: 8px;
    border: none;
}

.transaction-form > button:hover {
    background-color: #ff9000;
    transition: all 0.3s ease-out;
    cursor: pointer;
    box-shadow: 0 3px 6px #888888;
    transform: scale(1.1);
}

@media screen and (min-width: 960px) {
    .transaction-form > label > input, .transaction-form > label > select {
        width: 50%;
    }
} 



/*----- ADD TRANSACTION MODAL -----*/

.transaction-form-background {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);

}
.transaction-form-container {
    justify-content: center;
    width: 80%;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.transaction-form-container .transaction-form-title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.transaction-form-close-div {
    display: flex;
    justify-content: flex-end;
}

.transaction-form-close-div button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

