.wallet-transactions-content > h2 {
    text-align: center;
}

.wallet-transactions-buttons {
    text-align: center;
    margin: 10px 0;
}

.wallet-transactions-buttons > * {
    margin: 5px 0;
}

.search-bar {
    text-align: center;
    font-size: 20px;
    margin: 20px 0;
}

.search-bar input {
    padding: 8px;
    box-shadow: 0 0 2px 1px;
    margin-top:5px;
    border-radius: 6px;
    border: 2px solid #ff9000;
    width: 250px;
}

.wallet-transactions {
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
}

.wallet-transaction {
    margin: 10px 0;
    box-shadow: 0 2px 4px #888888;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    border-radius: 8px;
}

.wallet-transactions-connected {
    text-align: center;
}

@media screen and (min-width: 748px) {
    .wallet-transactions-content {
        margin: auto auto 50px auto;
    }

    .wallet-transactions-buttons > * {
        margin: 5px 5px;
    }

    .wallet-transaction {
        display: flex;
        justify-content: left;
        align-items: baseline;
    }

    .wallet-transaction > * {
        width: 33%;
        text-align: left;
    }
} 

@media screen and (min-width: 1100px) {
    .wallet-transactions-content {
        max-width: 75%;
    }
}