.transaction-history {
    margin-bottom: 20px;
}
.transaction-history > h1{
    margin-bottom: 20px;
}

.transaction-container {
    display: flex;
    flex-wrap: wrap;
}

.transaction {
    margin: 5px;
    padding: 5px;
    box-shadow: 0 2px 4px #888888;
    width: 15%;
}

.empty > p {
    padding: 5px;
}

@media screen and (max-width: 1330px) {
    .transaction {
        width: 30%;
    }
}
@media screen and (max-width: 820px) {
    .transaction {
        width: 45%;
    }
    .transaction-history > h1 {
        text-align: center;
    }
}

@media screen and (max-width: 560px) {
    .transaction {
        width: 100%;
    }
    .transaction-history > h1 {
        text-align: center;
    }
    .transaction {
        align-content: center;
    }
}